/*images*/ 

.productpicture { 
  /* Setting width of image on screen for the gallery page */
  width: 180px;
  border: 2px solid black;
}

.productpicture2 {     
  /* Setting width of image on screen for the detail page */
  width: 300px;
  border: 2px solid black;
}    

.productpicture3 { 
  /* Setting width of image on screen for the cart page */
  width: 100px;
  border: 2px solid black;
}

.headerpicture {
  /* We want our image to shrink to a certain size */
  width: 150px;
}

/*text*/  

  body {
    /* Set font family and font size for our application. */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
  }

  .largertext {
    /* Set font family and font size for larger text in the application. */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
  }

  .smallertext {
    /* Set font size for smaller text in the application. */
    font-size: 10px;
    text-align: center;
    font-weight: bold;
  }

  .headertext {
    /* Setting header text */
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-size: 15px;
    text-align: center;
  }
  
  /*styling*/

  p.border {
    /* Setting header border */
    border-style:solid;
  }

  p.borderlower {
    /* Setting lower border */
    border-style:solid;
    margin-left: 400px;
    margin-right:400px;
  }

  p {
    text-align: center;  
  }

  .centerproducts {
    text-align: center;  
  }

  .leftcenter {
  /* block to move text left of center */
      display: inline-block;
      text-align: left
  }

 .prodborder {
  /* block to highlight */
    margin-left:490px;
    margin-right:500px;
    padding-left: 2px;
    padding-top: 5px;
    width:200px;
  }
 
  .prodborder:hover {
  /* highlighter */
      background: #FFFF00;
  }

  .boldtext {
    /* make bold */
      font-weight: bold;
  }

  .highlightedcart {
    /* highlight text on the cart page */
      background: #FFFF00;
      padding-top: 5px;
      padding-bottom: 5px;
      padding-left: 10px;
      padding-right: 10px;
      width: 100px;
      text-align: center;
      border-style: solid;
      font-weight: bold;
  }

  #glazings {
    /* set width on drop down */
      width:150px;   
  }

  #packsize {
    /* set width on drop down */
      width:150px;
      font-weight: 100;   
  }

  .highlighter {
    /* get highlighted */
    background-color: #FFFF00;
    font-weight: bold;
  }

  .blacklink {
    color:black;
    text-decoration: underline;
  }

  .transparentlink {
    text-decoration: none;
    color: black;
  }